.background {
    background-image: url('./Assets/RS.png');
    background-size: cover;       /* Scales image to cover viewport */
    background-position: center; /* Centers the image */
    z-index: -1;                 /* Places behind content */
}
@font-face {
    font-family: 'Angelwish';
    src: url('./Assets/Angelwish.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body, button, h1, p {
    font-family: 'Angelwish', sans-serif; /* Fallback for loading issues */
}
.menu-bar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 0;
    background-color: rgba(255, 255, 255, 0.1); /* 10% opacity */
    display: flex;
    justify-content: center;
    gap: 30px; /* Space between buttons */
}

.studio-btn,
.gallery-btn {
    color: white;
    background-color: #fff;
    border: none;
    padding: 12px 25px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.studio-btn:hover,
.gallery-btn:hover {
    background-color: rgba(255, 255, 255,
