@font-face {
    font-family: 'Angelwish';
    src: url('Assets/Angelwish.ttf') format('truetype');
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    position: relative;
    font-family: 'Angelwish', sans-serif;
    background-image: url('Assets/RS.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

button {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    text-transform: uppercase;
}

.info-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 20px;
    text-align: center;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    display: none; /* Initially hidden */
}

.hidden {
    display: none;
}

.social-icons {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
}

.social-icons img {
    width: 40px;
    height: 40px;
}
